@import "tailwindcss";
@config "../tailwind.config.js";

/* Custom Amazon Font */
@font-face {
    font-family: 'Amazon Ember';
    src: local('Arial');
    /* Fallback for now */
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #e3e6e6;
    /* Amazon background */
    color: #0f1111;
}

/* Custom Utilities if needed */
.btn-primary {
    @apply bg-primary hover:bg-primary-hover text-black font-medium py-1 px-3 rounded-md shadow-sm border border-yellow-600 cursor-pointer;
}

.link-btn {
    @apply text-link hover:text-link-hover hover:underline cursor-pointer;
}